body {
    background:rgb(145, 145, 145);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    background-image: url("images/beverage-breakfast-brown-2456428.jpg");
    background-size: 100%;
    background-position: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    height: 200px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

h1 {
    color: white;
    font-size: 75%;
}

h1.name {
    color: rgb(255, 255, 255);
    letter-spacing: 1.5em;
}

section.features {
    background: whitesmoke;
    color: rgb(221, 221, 221);
       padding: 20px;
       display: flex;
       flex-direction: row;
}

section.features figure{
       padding: 20px;
       flex-direction: row;
       margin: auto;
}

section.features figure img{
    margin: auto;
    width: 150px;
    border-radius: 50%;
}

section.features figure figcaption{
    margin: auto;
    position: relative;
    text-align: center;
    padding: 10px;
    letter-spacing: 0.8em;
    font-size: 0.5em;
    color: blueviolet;
}

footer {
    background: black;
    color: rgb(221, 221, 221);
    padding: 20px 10px;
}
div {
    background: red;
    width: 100px;
    margin: auto;
}